

.spacing {
    padding: 15px 0;
}


.instructions h3 {
    text-align: center;
}

.instructions ol {
    width: 40%;
    margin: 0 auto;
}

.timer {
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}

.action-buttons {
    text-align: center;
}

.action-buttons .btn + .btn {
    margin-left: 15px;
}


tr.active {
    background: #506350;
    color: #fff;
}

tr.completed {
    text-decoration: line-through;
    background: gray;
}


.button{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 40%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);float:right;
    height: 30px;
    margin: 0 1px 1px 0;
    width: 30px;	
    margin-right: 60px;	
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}


.button:after{
    content: "";
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 10px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 10px;
}


.cross:after{
    content: "X";
    margin-top: 6px;
    margin-left: 10px;
    color:rgb(190, 120, 120);
}

.button:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#ca7367;
}


.cross:hover:after{
    color:#eb2f2f;
    text-shadow:0px 0px 6px #eb2f2f;
}

.button:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}


.democlass {
    color: red;
  }

  
.ftable tr:not(.fble_htr) {
    counter-increment: rowNumber;
}

.ftable tr:not(.fble_htr) th:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
  
  